sacremoses
clean-text
nltk
nlp
spacy
unidecode
gender-guesser
negate
gensim
protobuf
sentencepiece
seaborn
scikit-learn
nlpaug
datasets
transformers
torch
scipy==1.10.1
accelerate
spacy-transformers
git+https://github.com/makcedward/nlpaug.git
